/*DEFAULT COLOURS*/
$white:#ffffff;
$black:#000000;
$light-gray: #cecece;
$battleship-grey: #858585;
$platinum: #e6e6e6;

/**SIDEBAR COLOURS**/
$gunmetal: #283039;
$rich-black-fogra-29: #0e1114;
$eerie-black: #202020;


/**RED COLOURS**/
$rosewood: #5a1414;
$dark-sienna: #3d0c0c;

/**STANDARD COLOURS*/
$medium-champagne: #ebd494;
$dark-byzantium: #472836;

/*COMPONTENTS COLOURS*/
$btn-background-colour: $rosewood;
$btn-font-colour:$white;

$frm-background-colour: $light-gray;
$frm-borders-colour: $battleship-grey;

$tbl-row-zerba-background-colour: $platinum;

$lst-row-zerba-background-colour: $platinum;



